.dropped-widget-articolo {
  text-align: left;
  display:flex;
  padding-right: 40px;
}

.nome-componente {
  margin-left: 4px;
}

.icona-articolo{
  color: #00329e;
  margin-right: 5px;
  margin-left: 5px;
}

.icona {
  font-size: 20px;
}

.hidden {
  display: none; /* Oppure puoi usare display: none; per rimuovere completamente l'elemento dal layout */
}

.visible {
  display: block; /* Oppure puoi usare display: block; per mostrare l'elemento se usi display: none; sopra */
}
