.dropped-widget-nodo {
  text-align: left;
  display:flex;
  padding-right: 40px;
}

.nome-componente {
  margin-left: 4px;
}

.icona-nodo {
  color: #38a9a5;
}

.icona-apri-chiudi-cartella{
  margin-right: 4px;
  margin-left: 0px;
}

.icona {
  font-size: 20px;
}

.hidden {
  display: none; /* Oppure puoi usare display: none; per rimuovere completamente l'elemento dal layout */
}

.visible {
  display: block; /* Oppure puoi usare display: block; per mostrare l'elemento se usi display: none; sopra */
}
